<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="cminds_supplier_subscription_customer_login"
                  instance="Cminds\SupplierSubscription\Observer\Customer\Login"/>
    </event>
    <event name="supplierfrontendproductuploader_navbar_init">
        <observer name="cminds_supplier_subscription_supplier_navbar_init"
                  instance="Cminds\SupplierSubscription\Observer\Supplier\Navbar\Init"/>
    </event>
    <event name="sales_order_save_commit_after">
        <observer name="cminds_supplier_subscription_sales_order_save_commit_after"
                  instance="Cminds\SupplierSubscription\Observer\Sales\Order\CommitAfter"/>
    </event>
</config>