<?xml version="1.0"?>
<!--
/**
 * Cminds MarketplacePaypal frontend routes config.
 *
 * @category Cminds
 * @package  Cminds_MarketplacePaypal
 * @author   Piotr Pierzak <piotrek.pierzak@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="marketplaceminamount"
               frontName="marketplaceminamount">
            <module name="Cminds_MarketplaceMinAmount"/>
        </route>
    </router>
</config>