<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <configuration_marketplace>
            <configure>
                <percentage_fee>10</percentage_fee>
                <fee_type>1</fee_type>
                <is_discount_effective>0</is_discount_effective>
                <notify_supplier_when_his_profile_was_approved>0</notify_supplier_when_his_profile_was_approved>
                <allow_supplier_manage_shipping_costs>0</allow_supplier_manage_shipping_costs>
            </configure>
            <presentation>
                <enable_supplier_rating>0</enable_supplier_rating>
                <allow_send_emails_to_customers_if_supplier_create_invoice>1</allow_send_emails_to_customers_if_supplier_create_invoice>
                <invoice_template>custom_invoice_template</invoice_template>
                <invoice_guest_template>custom_guest_invoice_template</invoice_guest_template>
                <additional_attributes>tvq, tps</additional_attributes>
                <order_statuses_supplier_can_see>canceled,closed,complete,fraud,holded,payment_review,paypal_canceled_reversal,paypal_reversed,pending,pending_payment,pending_paypal,processing</order_statuses_supplier_can_see>
                <allow_send_emails_to_customers_if_supplier_create_shipment>1</allow_send_emails_to_customers_if_supplier_create_shipment>
            </presentation>
        </configuration_marketplace>
        <shipping_labels_marketplace>
            <custom_label>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>1</page_height>
                <page_width>1</page_width>
                <label_width>1</label_width>
                <label_height>1</label_height>
                <vertical_pitch>1</vertical_pitch>
                <horizontal_pitch>1</horizontal_pitch>
                <top_margin>1</top_margin>
                <side_margin>1</side_margin>
                <top_padding>1</top_padding>
                <left_padding>1</left_padding>
                <font_size>1</font_size>
            </custom_label>
            <dhl_label>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>1</page_height>
                <page_width>1</page_width>
                <label_width>1</label_width>
                <label_height>1</label_height>
                <vertical_pitch>1</vertical_pitch>
                <horizontal_pitch>1</horizontal_pitch>
                <top_margin>1</top_margin>
                <side_margin>1</side_margin>
                <top_padding>1</top_padding>
                <left_padding>1</left_padding>
                <font_size>1</font_size>
            </dhl_label>
            <fedex_label>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>1</page_height>
                <page_width>1</page_width>
                <label_width>1</label_width>
                <label_height>1</label_height>
                <vertical_pitch>1</vertical_pitch>
                <horizontal_pitch>1</horizontal_pitch>
                <top_margin>1</top_margin>
                <side_margin>1</side_margin>
                <top_padding>1</top_padding>
                <left_padding>1</left_padding>
                <font_size>1</font_size>
            </fedex_label>
            <ups_label>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>1</page_height>
                <page_width>1</page_width>
                <label_width>1</label_width>
                <label_height>1</label_height>
                <vertical_pitch>1</vertical_pitch>
                <horizontal_pitch>1</horizontal_pitch>
                <top_margin>1</top_margin>
                <side_margin>1</side_margin>
                <top_padding>1</top_padding>
                <left_padding>1</left_padding>
                <font_size>1</font_size>
            </ups_label>
            <usps_label>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>1</page_height>
                <page_width>1</page_width>
                <label_width>1</label_width>
                <label_height>1</label_height>
                <vertical_pitch>1</vertical_pitch>
                <horizontal_pitch>1</horizontal_pitch>
                <top_margin>1</top_margin>
                <side_margin>1</side_margin>
                <top_padding>1</top_padding>
                <left_padding>1</left_padding>
                <font_size>1</font_size>
            </usps_label>
            <dhlint_label>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>1</page_height>
                <page_width>1</page_width>
                <label_width>1</label_width>
                <label_height>1</label_height>
                <vertical_pitch>1</vertical_pitch>
                <horizontal_pitch>1</horizontal_pitch>
                <top_margin>1</top_margin>
                <side_margin>1</side_margin>
                <top_padding>1</top_padding>
                <left_padding>1</left_padding>
                <font_size>1</font_size>
            </dhlint_label>
        </shipping_labels_marketplace>
        <carriers>
            <supplier>
                <active>1</active>
                <title>Supplier</title>
                <model>Cminds\Marketplace\Model\Shipping\Carrier\Marketplace\Shipping</model>
                <name>Supplier</name>
                <price>0</price>
                <type>I</type>
                <ship_to_applicable_countries>1</ship_to_applicable_countries>
                <shipping_cost_non_supplier_products>1</shipping_cost_non_supplier_products>
                <default_shipping_cost_supplier_not_set_shipping_prices>1</default_shipping_cost_supplier_not_set_shipping_prices>
                <minimum_price_supplier_shipped_products>1</minimum_price_supplier_shipped_products>
                <displayed_error_message>
                    <![CDATA[This shipping method is not available. To use this shipping method, please contact us.]]>
                </displayed_error_message>
                <show_method_if_not_applicable>1</show_method_if_not_applicable>
                <sort_order>1</sort_order>
            </supplier>
        </carriers>
    </default>
</config>
