<?xml version="1.0"?>
<!--
/**
 * Cminds MarketplacePaypal acl config.
 *
 * @category Cminds
 * @package  Cminds_MarketplacePaypal
 * @author   Piotr Pierzak <piotr@cminds.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Cminds_Supplierfrontendproductuploader::supplier">
                    <resource id="Cminds_Supplierfrontendproductuploader::billing_report"
                              title="Supplier Billing Report"
                              translate="title"
                              sortOrder="10">
                        <resource id="Cminds_MarketplacePaypal::billing_report_pay_paypal"
                                  title="Manual Paypal Payment"
                                  translate="title"
                                  sortOrder="10"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Cminds_MarketplacePaypal::configuration"
                                      title="Cminds Marketplace Paypal Configuration"
                                      translate="title"
                                      sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>